.container{
    display: flex;
    justify-content: center;
    
    }

#header-row{

    margin: 0;
    position: absolute;
    top: 20%;
    left: 60%;

}

div.row{

    float: left;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);

}

