#fullcontainer{
    justify-content: center;
    margin: 0;
    text-align: center;
    background-color: cornflowerblue;
    }

#homeheader-row{
    margin: 0;
    position: relative;
    text-align: center;
}

#employeeMainCon{

    visibility: hidden;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: left;
}

#ManMainCon{
    visibility: hidden;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: left;
}

#empHeader{
    position: absolute;
    margin: 0, 0;
    left: 0px;
    justify-content: left;
    background-color: khaki;
}

#myHeader{
    position: absolute;
    margin: 0, 0;
    left: 0px;
    justify-content: left;
    background-color: khaki;
}

#outputHeader{
    background-color: peachpuff;
}

#empbuttonList{
    position: absolute;
    margin: 0;
    top: 100px;
}

#manbuttonList{
    position: absolute;
    margin: 0;
    top: 100px;
}

#Emplogout{
    position: absolute;
    margin: 0;
    top: 250px;
}

#ticketOutput{
    position: absolute;
    top: 300px;
    width: 100%;
}

#Manlogout{
    position: absolute;
    margin: 0;
    top: 250px;
}

#EmpMasterForm{

    visibility: hidden;

    border-style:solid;
    border-color: black;
    border-width: .5em;
 
}

#ticketListEmp{

    visibility: hidden;
    top: 500px;
 
}

#updateticketForm{

    visibility: hidden;
 
}

#ManMainCon{

    visibility: hidden;

}

#ManOutputs{
    position: absolute;
    top: 300px;
    width: 100%;
}

#ManMasterForm{

    visibility: hidden;

    border-style:solid;
    border-color: black;
    border-width: .5em;
 
}

#ManticketList{

    visibility: hidden;
 
}

#ManticketList2{

    visibility: hidden;
 
}

#updateAppMan{

    visibility: hidden;
 
}

#updateAppMan2{

    visibility: hidden;
 
}

