#fullcontainer{
    display: flex;
    justify-content: center;
    
    }

#homeheader-row{

    margin: 0;
    position: absolute;
    top: 20%;
    left: 60%;

}

#login-row{

    float: left;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);

}

#employeeMainCon{

    visibility: hidden;

}

#EmpMasterForm{

    visibility: hidden;

    border-style:solid;
    border-color: black;
    border-width: .5em;
 
}

#ticketListEmp{

    visibility: hidden;
 
}

#updateticketForm{

    visibility: hidden;
 
}

#ManMainCon{

    visibility: hidden;

}

#ManMasterForm{

    visibility: hidden;

    border-style:solid;
    border-color: black;
    border-width: .5em;
 
}

#ManticketList{

    visibility: hidden;
 
}

#ManticketList2{

    visibility: hidden;
 
}

#updateAppMan{

    visibility: hidden;
 
}

#updateAppMan2{

    visibility: hidden;
 
}

