#MasterForm{

    visibility: hidden;

    border-style:solid;
    border-color: black;
    border-width: .5em;
 
}

#ticketList{

    visibility: hidden;
 
}

#updateApp{

    visibility: hidden;
 
}
